<section class="menu">
	<div class="menu__container">
		<div class="menu__row menu__row-relative">
			<img src="./img/logo.svg" class="image menu__logo" width="73" height="51" alt="Логотип OPTI" />
			<button class="menu__burger burger burger--active">
				<span class="burger__line"></span>
			</button>
		</div>
		<div class="menu__container-bordered-bottom">
			<div class="menu__row menu__row-nav">
				<div class="menu__title-row">Компания</div>
				<svg class="menu__triangle">
					<use xlink:href="./img/sprite.svg#bottom-triangle"></use>
				</svg>
				<div class="menu__container-list">
					<button class="btn-reset menu__button-back">
						<svg class="menu__arrow-left">
							<use xlink:href="./img/sprite.svg#left-arrow"></use>
						</svg>
						Назад
					</button>
					<ul class="list-reset menu__list">
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">
								Компания
								<svg class="menu__arrow-left menu__arrow-left-reverse">
									<use xlink:href="./img/sprite.svg#left-arrow"></use>
								</svg>
							</a>
						</li>
						<li class="menu__item"><a href="#" class="menu__link menu__link-inner">О компании</a></li>
						<li class="menu__item"><a href="#" class="menu__link menu__link-inner">Наша команда</a></li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Сертификаты и компетенции</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Новости и акции</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Отзывы</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Статьи</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Вопрос/ответ</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Вакансии</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Реквизиты</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="menu__row menu__row-nav">
				<a href="#" class="menu__title-row">Лицензии</a>
			</div>
			<div class="menu__row menu__row-nav">
				<div class="menu__title-row">Наши проекты</div>
				<svg class="menu__triangle">
					<use xlink:href="./img/sprite.svg#bottom-triangle"></use>
				</svg>
				<div class="menu__container-list">
					<button class="btn-reset menu__button-back">
						<svg class="menu__arrow-left">
							<use xlink:href="./img/sprite.svg#left-arrow"></use>
						</svg>
						Назад
					</button>
					<ul class="list-reset menu__list">
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">
								Наши проекты
								<svg class="menu__arrow-left menu__arrow-left-reverse">
									<use xlink:href="./img/sprite.svg#left-arrow"></use>
								</svg>
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Корпоративные сайты</a>
						</li>
						<li class="menu__item"><a href="#" class="menu__link menu__link-inner">Web-разработка</a></li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Автоматизация продаж</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Внедрение CRM - проекты</a>
						</li>
						<li class="menu__item"><a href="#" class="menu__link menu__link-inner">ЧАТ-боты</a></li>
						<li class="menu__item"><a href="#" class="menu__link menu__link-inner">Бизнес-процессы</a></li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">3D моделирование и визуализация</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Продвижение и SEO</a>
						</li>
						<li class="menu__item"><a href="#" class="menu__link menu__link-inner">Ip-телефония</a></li>
						<li class="menu__item">
							<a href="#" class="menu__link menu__link-inner">Переход на Битрикс24</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="menu__row menu__row-nav">
				<a href="#" class="menu__title-row">Контакты</a>
			</div>
		</div>
		<div class="menu__container-bordered-bottom">
			<div class="menu__container-location">
				<svg class="menu__icon-location">
					<use xlink:href="./img/sprite.svg#location-arrow"></use>
				</svg>
				<span class="menu__location">Москва</span>
			</div>
		</div>
	</div>
</section>
