:root {
	// base
	--font-family: "Inter", sans-serif;
	--second-family: "Monserrat", sans-serif;
	--content-width: 1400px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--black-color: #263238;
	--real-black-color: #000;
	--light-blue-color: #9fe7fd;
	--lighter-blue-color: #89cff6;
	--blue-color: #37aee2;
	--dark-blue-color: #127bb7;
	--darkest-blue-color: #142647;
	--dark-green-color: #137d11;
	--green-color: #25d366;
	--grey-color: #f2eeee;
	--grey-hover-color: #b8b8b8;
	--track-color: #0bbbef;
	--red-color: #ef0b0b;
	--faq-text-color: #005893;
	--deals-border-color: #307aa4;
	--border-color: rgba(225, 83, 53, 0.1);
	--button-color: #129757;
}
